.back-container
{
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	min-width: 100vw;
	max-width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	opacity: 0.8;
	background-color: black;
	position: absolute;
	display: inline-block;
	z-index: 145;
}
.sign-container
{
	top: 0;
	margin: 0;
	opacity: 1;
	width: 33vw;
	height: 260px;
	padding: 5px;
	margin-top: 25vh;
	margin-left: 33vw;
	border-radius: 5px;
	background-color: white;
	z-index: 150;
	display: inline-block;
	position: absolute;
}
.register-container
{
	top: 0;
	margin: 0;
	opacity: 1;
	width: 33vw;
	height: 350px;
	padding: 5px;
	margin-top: 25vh;
	margin-left: 33vw;
	border-radius: 5px;
	background-color: white;
	z-index: 150;
	position: absolute;
}
.set-container
{
	top: 0;
	margin: 0;
	opacity: 1;
	width: 33vw;
	height: 370px;
	padding: 5px;
	margin-left: 33vw;
	border-radius: 5px;
	display: inline-block;
	background-color: white;
	z-index: 150;
}
.delete-container
{
	width: 80%;
	margin-left: 10%;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30px;
	padding-bottom: 20px;
	border-radius: 5px;
	background-color: #eeeeee;
}
.delete-form
{
	width: 80%;
	margin-left: 20%;
	margin-bottom: 20px;
}
.set-name
{
	width: 100vw;
	padding-bottom: 20px;
	text-align: center;
}
.set-separator
{
	height: 100px;
	width: 100vw;
}
.c_head
{
	width: 35%;
	height: 50px;
	margin-left: 10px;
	background-position: left;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: url("../assets/logo.svg");
}
.c_head:first-child
{
	cursor: pointer;
}
.c_body
{
	width: 90%;
	height: 80%;
	flex-wrap: wrap;
	margin-left: 5%;
	display: flex-box;
	flex-direction: row;
	justify-content: center;
}
hr
{
	color: white;
	border: none;
	display: block;
	padding-left: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.c_input
{
	font-family: inherit;
	font-size: 12px;
	margin: 0 auto;
	width: 90%;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: start;
	border-style: solid;
	border-color: rgb(223, 223,223);
	border-width: 2px;
	display: block;
}
.c_submit
{
	font-family: inherit;
	font-size: 14px;
	cursor: pointer;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10%;
	padding-left: 10%;
	font-weight: bold;
	color: white;
	border: none;
	border-radius: 2px;
	background-color: #2CD991;
	display: block;
	transition: all 0.5s;
}
.c_submit:hover
{
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50);
	background-color: #55EAAC;
	transition: all 0.5s;
}
.c_submit_red:hover
{
	background-color: red !important;
}
a.c_submit
{
	width: 115px;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 0;
	padding-left: 0;
}
a.c_submit:hover
{
	width: 115px;
	text-align: center;
	color: white !important;
}
.c_help
{
	margin: 0 auto;
	margin-top: 15px;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.c_check_delete + label
{
	font-size: 11px;
}
.notif-container
{
	font-size: 12px;
	margin: 0 auto;
	line-height: 20px;
	width: 86%;
	border-radius: 3px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-style: solid;
	border-color: rgb(223, 223,223);
	border-width: 2px;
	color: rgb(0, 0, 0);
	display: flex;
	justify-content: space-between;
	vertical-align: center;
}
.switch_indic
{
	font-family: inherit;
	font-size: 12px !important;
	font-height: 20px;
	height: 20px;
	width: 10px;
	color: rgb(223, 223, 223);
	vertical-align: center;
}
.switch
{
	margin-right: 2vw;
	text-align: right;
	position: relative;
	display: inline-block;
	width: 40px;
	height: 20px;
}
.switch input
{
	display:none;
}
.slider
{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before
{
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	left: 5px;
	bottom: 5px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider
{
	background-color: #2CD991;
}

input:focus + .slider
{
	box-shadow: 0 0 1px #2CD991;
}
input:checked + .slider:before
{
	-webkit-transform: translateX(20px);
	-ms-transform: translateX(20px);
	transform: translateX(20px);
}
.slider.round 
{
	border-radius: 2px;
}
.slider.round:before
{
	border-radius: 50%;
}


@media screen and (max-width: 1023px)
{
	div.sign-container
	{
		margin-left: 15vw;
		width: 70vw;
	}
	div.register-container
	{
		margin-left: 15vw;
		width: 70vw;
	}
	div.set-container
	{
		margin-left: 15vw;
		width: 70vw;
	}
}
@media screen and (max-width: 767px)
{
	div.sign-container
	{
		margin-left: 10vw;
		width: 80vw;
	}
	div.register-container
	{
		margin-left: 10vw;
		width: 80vw;
	}
	div.set-container
	{
		margin-left: 10vw;
		width: 80vw;
	}
}
